ul {
    list-style-type: none;
}

li {
    background-color: greenyellow;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 1rem;

}

i {
    color: #581b1b;
}

.form {
    width: 300px;
    position: fixed;
    top: 50px;
    left: 0;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 0 1rem 1rem 0;
}